
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <!-- <a href="#"><img src="http://i.imgur.com/4als9a8.png" class="img-responsive" /></a> -->
        <p>Quiz Monster</p>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="/">Home</a></li> -->
        <!-- <li><a href="~/About/Index">About</a></li> -->
        <li><a href="~/Contact/Index">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>



<button ng-click="home.logout()" >Sign Out</button>


<div id="button-wrap" class="center-block" style="text-align:center;">
  <a href="/create"><button>Create</button></a>
  <a href="/view"><button>View</button></a>
  <!-- <p>
    <a href="/create" class="btn btn-sq-lg btn-primary">
      <i class="fa fa-user fa-5x"></i><br/>
      <span>Create</span>
    </a>
    <a href="/view" class="btn btn-sq-lg btn-primary">
      <i class="fa fa-user fa-5x"></i><br/>
      <span>View</span>
    </a>
  </p> -->

</div>
